main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9;
  padding: 75px 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1280px;
}

@media only screen and (min-width: 1280px) {
  main {
    padding: 150px 0;
  }

  .cards-container {
    gap: 68px 111px;
  }
}